.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  height: 7rem;
  border: 2px solid #0d2c54;
  border-radius: 17px;
  width: 65%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.cardWrapper:hover {
  transform: scale(1.015);
}
